<div class="modal-header bg-color-darken" style="color: white; background-color: #1B1E24;">
    <h4>Unos dokumenta</h4>
</div>

<div class="modal-body">
    <!-- Doc upload file -->
    <input type="file" id="uploadMemberDoc" name="uploadMemberDoc" class="filestyle" style="width: 100%;" data-button-text="" data-placeholder="Izaberite dokument" data-buttonName="btn-primary" />

    <br />

    <!-- Doc type -->
    <label class="control-label">Vrsta dokumenta (*)</label>
    <select class="form-control" ng-model="model.DocumentTypeID" ng-options="value.ID as value.Name for (key, value) in docTypes"></select>

    <br />

    <!-- Doc name -->
    <label class="control-label">Naziv dokumenta (*)</label>
    <input type="text" class="form-control" ng-model="model.DocumentName" />

    <br />

    <!-- Doc desc -->
    <label class="control-label">Opis dokumenta</label>
    <input type="text" class="form-control" ng-model="model.DocumentDesc" />

    <br />

    <!-- Metadata: expiry date -->
    <label class="control-label">Datum isteka važenja dokumenta</label>
    <label class="input" style="width: 100%">
        <input type="text"
               uib-datepicker-popup
               ng-model="model.DocMetadata.ExpiryDate"
               placeholder="yyyy-mm-dd"
               class="form-control disabled-input-color"
               is-open="datePickers.datePickerOpened_ExpiryDate"
               readonly="readonly" />
    </label>
    <button type="button" class="btn btn-sm btn-primary form-control" style="margin-bottom: 3px; width: 10%;" ng-click="openDatePicker('ExpiryDate', $event)"><i class="fa fa-calendar"></i></button>

    <br /><br /><br />

    <button ng-click="save()" class="btn btn-success">Sačuvaj</button>
</div>

<div class="modal-footer">
    <button ng-click="close()" class="btn btn-primary">Zatvori</button>
</div>
