<div class="modal-header bg-color-darken" style="color: white; background-color: #1B1E24;">
    <h4>Plesne grupe korisnika <strong>{{ user.FullName }}</strong></h4>
</div>

<div class="modal-body">
    <form class="smart-form" novalidate="novalidate">
        <div>
            <label class="col-sm-12" ng-repeat="group in allDanceGroups">
                <input type="checkbox" checklist-model="userDanceGroups" checklist-value="group"> {{group.DanceGroupName}}
            </label>
        </div>

        <br /><br /><br />
    </form>
</div>

<div class="modal-footer">
    <button ng-click="save()" class="btn btn-success">Snimi</button>
    <button ng-click="close();" class="btn btn-primary">Zatvori</button>
</div>
