<div class="modal-header bg-color-darken" style="color: white; background-color: #1B1E24;">
    <h4>Trening</h4>
</div>

<div class="modal-body">
    <form class="smart-form" novalidate="novalidate">
        <section>
            <div>
                <!--<label class="control-label">Datum (*)</label>
                <label class="input"><input type="text" class="form-control" ng-model="training.TrainingDate" placeholder="YYYY-MM-DD" /></label>-->
                <label class="control-label">Datum (*)</label>
                <label class="input" style="width: 100%">
                    <input type="text"
                           uib-datepicker-popup
                           ng-model="training.TrainingDate"
                           placeholder="YYYY-MM-DD"
                           class="form-control disabled-input-color"
                           is-open="datePickers.datePickerOpened_TrainingDate"
                           datepicker-options="datepickerOptions"
                           readonly="readonly"
                           current-text="Danas"
                           clear-text="Obriši"
                           close-text="Zatvori" />
                </label>
                <button type="button" class="btn btn-sm btn-primary form-control" style="margin-bottom: 3px; width: 10%;" ng-click="openDatePicker('TrainingDate', $event)"><i class="fa fa-calendar"></i></button>
            </div>
        </section>

        <!--<section>
            <div>
                <label class="control-label">Lokacija (*)</label>
                <select class="form-control" ng-model="training.TrainingLocationID" ng-options="value.ID as value.Name for (key, value) in locations"></select>
            </div>
        </section>-->

        <section>
            <div>
                <label class="control-label">Raspored (*)</label>
                <select class="form-control" ng-model="training.TrainingScheduleID" ng-options="value.ID as (value.TrainingLocationName + ' - ' + value.WeekDay + ' - ' + value.StartTime.slice(0, -3) + ' - ' + value.EndTime.slice(0, -3)) for (key, value) in schedulesToDisplay"></select>
            </div>
        </section>

        <section>
            <div>
                <label class="control-label">Grupa (*)</label>
                <select class="form-control" ng-model="training.TrainingDanceGroupID" ng-options="value.ID as value.Name for (key, value) in danceGroups"></select>
            </div>
        </section>

        <!--<section>
            <div>
                <label class="control-label">Vreme početka (*)</label>
                <label class="input"><input type="text" class="form-control" ng-model="training.StartTime" placeholder="HH:MM" /></label>
            </div>
        </section>-->

        <!--<section>
            <div>
                <label class="control-label">Vreme završetka (*)</label>
                <label class="input"><input type="text" class="form-control" ng-model="training.EndTime" placeholder="HH:MM" /></label>
            </div>
        </section>-->

        <section ng-hide="resolveTrainerComboVisibility()">
            <div>
                <label class="control-label">Trener</label>
                <select class="form-control" ng-model="training.TrainerUserID" ng-options="value.ID as value.Name for (key, value) in trainers"></select>
            </div>
        </section>

        <section>
            <div>
                <label class="control-label">Napomena</label>
                <label class="input"><textarea rows="2" class="form-control" ng-model="training.Note"></textarea></label>
            </div>
        </section>
    </form>
</div>

<div class="modal-footer">
    <button ng-click="save()" class="btn btn-success">Sačuvaj</button>
    <button ng-click="close()" class="btn btn-primary">Odustani</button>
</div>
