<!-- Back to search & edit training comment buttons -->
<div class="row">
    <div class="col-lg-3">
        <button class="btn btn-sm btn-default" style="margin-left: 15px; width: 100%;" ng-click="backToSearch()"><i class="fa fa-arrow-left"></i> &nbsp;Povratak na treninge</button><br />
    </div>
    <div class="col-lg-3">
        <button class="btn btn-sm btn-info" style="margin-left: 15px;" ng-click="editTrainingComment()"><i class="fa fa-pencil"></i> &nbsp;Komentar</button><br />
    </div>
</div>

<br />

<!-- Member presence grid -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary" style="margin-left: 15px; margin-right: 30px;">
            <div class="panel-heading" style="background-color: #1B1E24;">
                <span>Prozivnik</span>
            </div>
            <div class="panel-body">
                <p style="font-variant:small-caps; margin-left: 10px" ng-show="showGrid === false">nema podataka.</p>

                <table ng-show="showGrid === true" class="table table-condensed table-hover table-responsive table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Ime i prezime</th>
                            <th>Status</th>
                            <th>Odsustvo opravdano?</th>
                            <th>Komentar</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in memberPresenceList">
                            <td>{{ item.MemberName }}</td>
                            <td><div ng-class="resolveStatusCss(item)">{{ item.IsPresent ? 'Prisutan' : 'Nije prisutan' }}</div></td>
                            <td>{{ resolveAbsenceJustifiedDisplayText(item) }}</td>
                            <td>{{ item.AbsenceNote }}</td>
                            <td>
                                <button class="btn btn-primary btn-xs pull-right margin-right-5" title="Izmena statusa" ng-click="toggleStatus(item)"><i class="fa fa-exchange"></i></button>
                                <button class="btn btn-info btn-xs pull-right margin-right-5" title="Odsustvo opravdano?" ng-click="toggleAbsenceJustified(item)" ng-show="!item.IsPresent"><i class="fa fa-user"></i></button>
                                <button class="btn btn-info btn-xs pull-right margin-right-5" title="Izmena komentara" ng-click="editAbsenceNote(item)" ng-show="!item.IsPresent"><i class="fa fa-comment"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
