<!-- Filter -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary" style="margin-left: 15px; margin-right: 30px;">
            <div class="panel-heading" style="background-color: #1B1E24;">Pretraživanje</div>
            <div class="panel-body">
                <form id="searchForm" role="form" ng-submit="applyFilter()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Ime i/ili prezime</label>
                                <label class="input" style="width: 100%">
                                    <input type="text" class="form-control" ng-model="filter.FullName" />
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">JMBG</label>
                            <label class="input" style="width: 100%">
                                <input type="text" class="form-control" ng-model="filter.JMBG" />
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Status</label>
                            <select class="form-control" ng-model="filter.Status" ng-options="value.ID as value.Name for (key, value) in statuses"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Grupe</label>
                            <!--<select class="form-control" ng-model="filter.DanceGroupID" ng-options="value.ID as value.Name for (key, value) in danceGroups"></select>-->
                            <tags-input 
                                ng-model="filter.DanceGroups"
                                replace-spaces-with-dashes="false"
                                add-from-autocomplete-only="true"
                                display-property="Name"
                                key-property="ID">
                                <auto-complete source="filterDanceGroupsForAutocomplete($query)" min-length="0" debounce-delay="0" max-results-to-show="1000" load-on-down-arrow="true"></auto-complete>
                            </tags-input>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-sm btn-primary">Pronađi</button>
                            <button type="button" class="btn btn-sm btn-danger" ng-click="clearFilter()">Obriši filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Members grid -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary" style="margin-left: 15px; margin-right: 30px;">
            <div class="panel-heading" style="background-color: #1B1E24;">
                <span>Plesači</span>
                <button type="button" class="btn btn-success btn-xs pull-right margin-right-5" ng-click="addMember()" user-groups="ADMIN,TRENER"><i class="fa fa-user-plus"></i> Nov plesač</button>
            </div>
            <div class="panel-body table-responsive">
                <p style="font-variant:small-caps; margin-left: 10px" ng-show="showGrid === false">nema podataka.</p>

                <table ng-table="membersTableParams" ng-show="showGrid === true" class="table table-condensed table-striped table-hover table-responsive table-bordered">
                    <tbody>
                        <tr ng-repeat="member in $data">
                            <td data-title="'Ime i prezime'" header-class="'text-left'">{{ member.FullName }}</td>
                            <td data-title="'JMBG'" header-class="''" style="text-align: center;">{{ member.JMBG }}</td>
                            <td data-title="'Datum rođenja'" header-class="''" style="text-align: center;">{{ member.BirthDate | date:'dd.MM.yyyy' }}</td>
                            <td data-title="'Komentar'" header-class="''" style="text-align: center;">{{ member.ContactData.Email }}</td>
                            <td data-title="'Telefoni'" header-class="'text-left'">
                                <div>{{ member.ContactData.Phone1 }}</div>
                                <div>{{ member.ContactData.Phone2 }}</div>
                                <div>{{ member.ContactData.Phone3 }}</div>
                            </td>
                            <td data-title="'Status'" header-class="''" style="text-align: center;"><span ng-class="member.IsActive ? 'label label-success' :'label label-danger'">{{ member.IsActive ? 'Aktivan' : 'Neaktivan' }}</span></td>
                            <td header-class="''">
                                <button class="btn btn-primary btn-xs" style="float: right; margin-left: 5px;" title="Dosije plesača" ng-click="openMemberDossier(member)">Dosije</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="font-size: smaller"><strong>Ukupno {{ totalRecords }} plesač(a).</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
