<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="DFAppEntities" connectionString="metadata=res://*/DBModel.DFDataModel.csdl|res://*/DBModel.DFDataModel.ssdl|res://*/DBModel.DFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DF;user id=sa;password=StekerSmeker2301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DFAppEntities" connectionString="metadata=res://*/DBModel.DFDataModel.csdl|res://*/DBModel.DFDataModel.ssdl|res://*/DBModel.DFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DF;user id=sa;password=StekerSmeker2301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DFAppEntities" connectionString="metadata=res://*/DBModel.DFDataModel.csdl|res://*/DBModel.DFDataModel.ssdl|res://*/DBModel.DFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2K17;initial catalog=DF;user id=sa;password=StekerSmeker2301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="token::salt" value="GQDstcKsx0NHjPOuXOYg5MbeJ1XT0uFiwDVvVBrk" />
    <add key="token::exp" value="30" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
  </runtime>
</configuration>
