<!DOCTYPE html>

<html ng-app="DFApp" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Dance Factory Application">
    <meta name="author" content="Darko Milutinovic <dmilutinovic@gmail.com>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dance Factory</title>

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="Content/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="Content/font-awesome/font-awesome.min.css">

    <!-- SmartAdmin Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="Content/SmartAdmin/smartadmin-production.css">
    <link rel="stylesheet" type="text/css" media="screen" href="Content/SmartAdmin/smartadmin-skins.css">

    <!-- Other CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="Content/angular-block-ui/angular-block-ui.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="Scripts/sweet-alert/sweet-alert.css">
    <link rel="stylesheet" type="text/css" media="screen" href="Content/ng-table/ng-table.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="Content/angular-toastr/angular-toastr.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="Content/abn-tree/abn_tree.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="Content/ivh-treeview/ivh-treeview.min.css"> -->

    <!-- ngTagsInput -->
    <link rel="stylesheet" type="text/css" media="screen" href="Content/ng-tags-input/ng-tags-input.css">

    <!-- Custom DFApp CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="app.css">

    <!--Toastr-->
    <link rel="stylesheet" type="text/css" href="Content/angular-toastr/angular-toastr.css" />

    <!-- FAVICONS -->
    <!--<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">-->
    
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>

<body class="smart-style-0" style="overflow-y: auto;">
    <!-- Left panel : NAVIGATION AREA -->
    <aside id="left-panel" style="top: 0;" authenticated-user>
        <!-- User info -->
        <div class="login-info" style="padding-top: 10px" ng-controller="UserInfoController">
            <span>
                <img src="img/avatars/user-avatar-1.png" alt="User" class="online" />
                <span>{{ userInfo.FullName }}</span>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-xs" ng-click="changePassword()" title="{{ 'MAIN_MENU.USER_INFO.CHANGE_PASSWORD_TITLE' | translate }}"><i class="fa fa-user-secret"></i></button>
                <button type="button" class="btn btn-primary btn-xs" ng-click="logout()" title="{{ 'MAIN_MENU.USER_INFO.LOGOUT_TITLE' | translate }}"><i class="fa fa-sign-out"></i></button>
            </span>
        </div>
        <!-- end user info -->

        <nav ng-controller="NavigationController">
            <ul>
                <!-- Home/Dashboard -->
                <li id="menuHome" class="active">
                    <a ng-href="#/home" title="Početna"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{ 'MAIN_MENU.HOME.TITLE' | translate }}</span></a>
                </li>

                <!-- Pretrazivanje -->
                <li id="menuFileSearch" permissions="Glavni meni - Pretraživanje">
                    <a ng-href="#/file-search" title="Pretraživanje"><i class="fa fa-lg fa-fw fa-search"></i> <span class="menu-item-parent">{{ 'MAIN_MENU.SEARCH.TITLE' | translate }}</span></a>
                </li>

                <!-- Settings -->
                <li user-groups="Admin">
                    <a ng-href="#" title="Podešavanja"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">{{ 'MAIN_MENU.SETTINGS.TITLE' | translate }}</span></a>
                    <ul>
                        <li id="menuFileTypes">
                            <a ng-href="#/file-types">{{ 'MAIN_MENU.SETTINGS.FILE_TYPES' | translate }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <span class="minifyme"><i class="fa fa-arrow-circle-left hit"></i></span>
    </aside>
    <!-- End left panel : END NAVIGATION AREA -->

    <!-- MAIN PANEL -->
    <div id="main" role="main" ng-view></div>
    <!-- MAIN PANEL - End -->
    
    <!-- LOAD SCRIPTS -->

    <script src="Scripts/jquery/jquery-3.2.1.min.js"></script>
    <script src="Scripts/jquery-ui/jquery-ui-1.12.1.min.js"></script>

    <script src="Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="Scripts/bootbox/bootbox.min.js"></script>
    <script src="Scripts/angular/angular.min.js"></script>
    <script src="Scripts/angular/angular-route.min.js"></script>
    <script src="Scripts/angular/angular-animate.min.js"></script>
    <script src="Scripts/angular-ui/angular-ui.min.js"></script>

    <!-- TODO: add ui-bootstrap here! -->

    <!--<script src="Scripts/date-time-picker/datetimepicker.js"></script>-->
    <!-- <script src="Scripts/tv4/tv4.js"></script> -->
    <!-- <script src="Scripts/objectpath/ObjectPath.js"></script> -->
    <script src="Scripts/lodash/lodash.min.js"></script>
    <script src="Scripts/select2/select2.min.js"></script>
    <script src="Scripts/sweet-alert/sweet-alert.min.js"></script>
    <script src="Scripts/angular-toastr/angular-toastr.tpls.min.js"></script>
    <script src="Scripts/angular-block-ui/angular-block-ui.min.js"></script>
    <script src="Scripts/angular-base64/angular-base64.min.js"></script>
    <script src="Scripts/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
    <!-- <script src="Scripts/checklist-model/checklist-model.js"></script> -->
    <script src="Scripts/angular-uuid2/angular-uuid2.min.js"></script>
    <!-- <script src="Scripts/ivh-treeview/ivh-treeview.min.js"></script> -->
    <script src="Scripts/sprintf/sprintf.min.js"></script>
    <script src="Scripts/sprintf/angular-sprintf.min.js"></script>

    <!-- Moment -->
    <script src="Scripts/angular-moment/moment.min.js"></script>
    <script src="Scripts/angular-moment/angular-moment.min.js"></script>

    <!-- angular-file-saver -->
    <script src="Scripts/file-saver/FileSaver.js"></script>
    <script src="Scripts/blob/blob.js"></script>
    <script src="Scripts/angular-file-saver/angular-file-saver.bundle.js"></script>

    <!-- SmartAdmin -->
    <script src="Scripts/SmartAdmin/SmartNotification.min.js"></script>

    <!-- ngTable -->
    <script src="Scripts/ng-table/ng-table.min.js"></script>

    <!-- Jarvis widgets -->
    <script src="Scripts/SmartAdmin/jarvis-widgets/jarvis.widget.min.js"></script>

    <!-- IE issue fix -->
    <script src="Scripts/SmartAdmin/plugins/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- JS Tools -->
    <script src="Scripts/JSTools/dataValidator.min.js"></script>

    <!-- ngTagsInput -->
    <script src="Scripts/ng-tags-input/ng-tags-input.min.js"></script>

    <!-- User authentication module -->
    <script src="modules/user-auth/user-auth.module.js"></script>

    <!-- MAIN APP JS FILE -->
    <script src="core/smart-admin-app.js"></script>
    <script src="core/app.js"></script>
    <script src="core/constants.js"></script>
    <script src="core/config.js"></script>
    <script src="core/run.js"></script>
    <script src="core/routes.js"></script>

    <!-- LOAD DIRECTIVES -->
    <!-- <script src="directives/checklist-model/checklist-model.js"></script> -->
    <script src="directives/abn-tree/abntree.js"></script>
    <script src="directives/filestyle/filestyle.js"></script>
    <!-- LOAD DIRECTIVES - End -->

    <!-- SERVICES -->
    <!-- <script src="services/data/DocumentsService.js"></script>
    <script src="services/data/FilesService.js"></script>
    <script src="services/data/FileTypesService.js"></script>
    <script src="services/data/OrgUnitsService.js"></script>
    <script src="services/data/TaxesService.js"></script>
    <script src="services/data/TagsService.js"></script>
    <script src="services/data/RequiredDocsService.js"></script>
    <script src="services/data/WorkflowsService.js"></script>
    <script src="services/data/MetadataService.js"></script>
    <script src="services/data/ClientsService.js"></script>
    <script src="services/data/UsersService.js"></script>
    <script src="services/data/ReportsService.js"></script>
    <script src="services/data/SearchService.js"></script>
    <script src="services/data/AttorneyOfficeService.js"></script>
    <script src="services/transfer/WorkflowDataTransferService.js"></script>
    <script src="services/UtilityService.js"></script>
    <script src="services/ExtDataSourcesService.js"></script>
    <script src="services/LKReaderService.js"></script>
    <script src="services/NotificationHubService.js"></script>
    <script src="services/ExportService.js"></script>
	<script src="services/data/RegistryOfficeBooksService.js"></script> -->
    <!-- SERVICES END -->

    <!-- Angular JS controllers -->
    <!-- <script src="pages/not-authorised/NotAuthorisedController.js"></script> -->
    <script src="pages/login/LoginController.js"></script>
    <script src="pages/NavigationController.js"></script>

    <script src="pages/home/HomeController.js"></script>

    <!-- <script src="pages/file-search/FileSearchController.js"></script>
    <script src="pages/file-card/FileCardController.js"></script> -->

    <!-- <script src="pages/settings/file-types/FileTypesController.js"></script> -->

    <!-- <script src="pages/settings/doc-types/DocTypesController.js"></script>
    <script src="pages/settings/doc-types/doc-types-dialog/DocTypesDialogController.js"></script> -->

    <!-- <script src="pages/settings/users/UsersController.js"></script>
    <script src="pages/settings/users/UsersDialogController.js"></script>
    <script src="pages/settings/users/AddUserInGroupsDialogController.js"></script>
    <script src="pages/settings/users/AddUserInPermissionsDialogController.js"></script>
    <script src="pages/settings/users/user-org-units-dialog/UserOrgUnitsDialogController.js"></script>
    <script src="pages/settings/users/UserInfoController.js"></script>
    <script src="pages/settings/users/change-password-dialog/ChangePasswordDialogController.js"></script> -->

	<!-- <script src="pages/settings/user-groups/UserGroupsController.js"></script>
    <script src="pages/settings/user-groups/UserGroupsDialogController.js"></script>
	<script src="pages/settings/user-groups/PermissionGroupsDialogController.js"></script> -->

    <!-- <script src="pages/common/metadata-dialog/MetadataDialogController.js"></script>
    <script src="pages/common/fill-metadata-dialog/FillMetadataDialogController.js"></script>
    <script src="pages/common/checkbox-tree-dialog/CheckboxTreeDialogController.js"></script>
    <script src="pages/common/table-select-dialog/TableSelectDialogController.js"></script>
    <script src="pages/common/client-dialogs/company-dialog/ClientCompanyDialogController.js"></script>
    <script src="pages/common/client-dialogs/person-dialog/ClientPersonDialogController.js"></script>
    <script src="pages/common/client-dialogs/person-group-dialog/ClientPersonGroupDialogController.js"></script>
    <script src="pages/common/client-dialogs/client-search-dialog/ClientSearchDialogController.js"></script>
    <script src="pages/common/file-comments-dialog/FileCommentsDialogController.js"></script>
    <script src="pages/common/add-file-document-dialog/AddFileDocDialogController.js"></script>
    <script src="pages/common/update-file-taxes-dialog/UpdateFileTaxesDialogController.js"></script>
    <script src="pages/common/change-ref-no-dialog/ChangeRefNoDialogController.js"></script>
    <script src="pages/common/user-org-unit-select-dialog/UserOrgUnitSelectDialogController.js"></script>
    <script src="pages/common/text-field-dialog/TextFieldDialogController.js"></script>
    <script src="pages/common/combo-dialog/ComboDialogController.js"></script>
    <script src="pages/common/date-dialog/DateDialogController.js"></script>
    <script src="pages/common/file-redirect-dialog/FileRedirectDialogController.js"></script>
    <script src="pages/common/attorneyoffice-add-file-document-dialog/AddFileDocDialogController.js"></script>
    <script src="pages/common/attorneyoffice-change-document-status/DocumentChangeStatusController.js"></script>
	<script src="pages/common/file-upload-dialog/FileUploadDialogController.js"></script>
    <script src="pages/common/generate-doc-from-template-dialog/GenerateDocFromTemplateDialogController.js"></script>
    <script src="pages/common/tags-dialog/TagsDialogController.js"></script> -->
    
    <!-- LOAD SCRIPTS - End -->

</body>

</html>
