<div class="modal-header bg-color-darken" style="color: white; background-color: #1B1E24;"">
    <h4>Izmena lozinke</h4>
</div>

<div class="modal-body">
    <form id="formChgPassDialog" class="smart-form" novalidate="novalidate">
        <section>
            <div>
                <label class="control-label">Stara lozinka (*)</label>
                <label class="input"><input type="password" class="form-control" ng-model="model.OldPassword"></label>
            </div>
        </section>

        <section>
            <div>
                <label class="control-label">Nova lozinka (*)</label>
                <label class="input"><input type="password" class="form-control" ng-model="model.Password"></label>
            </div>
        </section>

        <section>
            <div>
                <label class="control-label">Potvrda nove lozinke (*)</label>
                <label class="input"><input type="password" class="form-control" ng-model="model.ConfirmPassword"></label>
            </div>
        </section>
    </form>
</div>

<div class="modal-footer">
    <button ng-click="save()" class="btn btn-success">Sačuvaj</button>
    <button ng-click="close()" class="btn btn-primary">Odustani</button>
</div>
