<div class="modal-header bg-color-darken" style="color: white; background-color: #1B1E24;">
    <h4>Plaćanje</h4>
</div>

<div class="modal-body">
    <form class="smart-form" novalidate="novalidate">
        <section>
            <label class="control-label">Naziv (*)</label>
            <label class="input"><input type="text" class="form-control" ng-model="model.Name"></label>
        </section>

        <section>
            <label class="control-label">Opis</label>
            <label class="input"><input type="text" class="form-control" ng-model="model.Description"></label>
        </section>

        <section>
            <label class="control-label">Tip (*)</label>
            <select class="form-control" ng-model="model.Type" ng-options="value.ID as value.Name for (key, value) in paymentTypes"></select>
        </section>

        <section>
            <label class="control-label">Valuta (*)</label>
            <select class="form-control" ng-model="model.Currency" ng-options="value.ID as value.Name for (key, value) in paymentCurrencies"></select>
        </section>

        <section>
            <label class="control-label">Iznos (*)</label>
            <label class="input"><input type="text" class="form-control" ng-model="model.Amount"></label>
        </section>

        <section>
            <label class="control-label">Rok za plaćanje (*)</label>
            <div style="font-size: xx-small; color: gray;">
                (U slučaju plaćanja na rate - rok za plaćanje prve rate)
            </div>
            <label class="input" style="width: 100%">
                <!--<input type="text"
                        uib-datepicker-popup
                        ng-model="dueDate"
                        placeholder="yyyy-mm-dd"
                        class="form-control disabled-input-color"
                        is-open="datePickerOpened_DueDate"
                        readonly="readonly" />-->
                <input type="text" ng-model="model.DueDate" placeholder="YYYY-MM-DD" />
            </label>
            <!--<button type="button" class="btn btn-sm btn-primary form-control" style="margin-bottom: 3px; width: 10%;" ng-click="openDatePicker('DueDate', $event)"><i class="fa fa-calendar"></i></button>-->
        </section>

        <section>
            <label class="control-label">Broj rata</label>
            <label class="input"><input type="text" class="form-control" ng-model="model.NumberOfInstallments"></label>
        </section>

        <section>
            <label class="control-label">Iznosi rata</label>
            <div style="font-size: xx-small; color: gray;">
                Format: [ Iznos-prve-rate;Iznos-druge-rate;Iznos-trece-rate; ... ]<br />
                (Zbir iznosa svih rata mora biti jednak iznosu plaćanja)<br />
                (Ukoliko se iznosi ne zadaju, iznosi rata će biti jednaki)
            </div>
            <label class="input"><input type="text" class="form-control" ng-model="model.InstallmentAmounts"></label>
        </section>

        <fieldset>
            <legend>Pratilac</legend>

            <section>
                <label class="control-label">Iznos</label>
                <label class="input"><input type="text" class="form-control" ng-model="model.AmountForCompanion"></label>
            </section>

            <section>
                <label class="control-label">Iznosi rata</label>
                <div style="font-size: xx-small; color: gray;">
                    Format: [ Iznos-prve-rate;Iznos-druge-rate;Iznos-trece-rate; ... ]<br />
                    (Zbir iznosa svih rata mora biti jednak iznosu plaćanja za pratioca)<br />
                    (Ukoliko se iznosi ne zadaju, iznosi rata će biti jednaki)
                </div>
                <label class="input"><input type="text" class="form-control" ng-model="model.InstallmentAmountsForCompanion"></label>
            </section>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button ng-click="save()" class="btn btn-success">Sačuvaj</button>
    <button ng-click="close()" class="btn btn-primary">Odustani</button>
</div>
